
.body{
  /* font-family: 'Montserrat', sans-serif; */
}


#title{
  background-color: #ff4c68;
  color: white;
}

h1{
  font-family: 'Montserrat';
  font-size: 3.2rem;
  line-height: 1.5;
  font-weight: bold;
}

h2{
  font-family: 'Montserrat';
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: bold;

}

h3{
  font-family: 'Montserrat';
  font-size: 1.3rem;
  font-weight: bold;
}

p{
  color: #8f8f8f;
}

.container-fluid{
  padding: 3% 15% 6%;
  line-height: 2.5;

}

/* navbar */

.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  color: white;
  font-size: 2.5rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1,2rem;
  font-family: "Montserrat"
}

/* Buttons */

.download-button{

  margin: 5% 3% 5% 0;
}

/* Title image */

.title-image{

  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right:25%;

}

/* Features section */

#features{
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;

}

.icons{
  color:  #ef8172;
  margin-bottom: 1rem;

}

.icons:hover{
  color: #ff4c68;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

/* Testimonial Section */

#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: white;

}

.testimonial-image{
   width: 10%;
   border-radius: 100%;
   margin: 20px;
}

.carousel-item{
  padding: 7% 15%;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;

}

/* Pricing section */

#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-coloumn{
  padding: 3% 2%;
}

@media (max-width: 1028px) {

  #title{
    text-align: center;
  }

  .title-image{
    position: static;
    transform:rotate(0);

  }
}

/* Call to action */

#cta{
  background-color: #ff4c68;
  text-align: center;
  color: white;
  padding: 7% 15%;


}

.calltoaction{
  font-size:2.7rem;
  font-weight:bold;
}


/* footer */

#footer{

  text-align: center;
  background-color: #fff;
  font-size: 70%
  padding: 7% 15%;
  margin-bottom: 50px;
}

.socials{
  padding: 100px 5px 15px 5px;
}
